<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body align="center" bgcolor="lavender">
<form action="addwarden.jsp" method="post">
Enter Warden Id:<input type="text" name="wid"><br>
Create Warden Password:<input type="text" name="password"><br>
Enter Warden Name:<input type="text" name="wname"><br>
Enter Warden Personal Mobile Number:<input type="number" name="wmobile"><br>
Enter Mobile Number For HostelWork:<input type="number" name="hmobile"><br>
Enter Date of Joining:<input type="date" name="doj"><br>
Houseno. and locality:<input type="text" name="locality" required><br>
City:<input type="text" name="city" required><br>
State:<input type="text" name="state" required><br>
Country:<input type="text" name="country" required><br>
<input type="submit" value="Add">
</form>

</body>
</html>